.header {
}
.newsProducts {
    padding: 8em 2em;
}
h2 {
    font-size: 2em;
}
.row {
    display: flex;
}

.header .row {
    margin-top: 1em;
    width: 100%;
    justify-content: space-between;
}

