.container {
    display: flex;
    flex-wrap: wrap;
    HEIGHT: 100vh;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    gap: 1em;
    margin-top: 4em
}



h1 {
    color: var(--primary-color);
}

.heroText {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #333;
    width: 70%;
    font-weight: bold;
}

.heroParagraph {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #555;
}

.highlight {
    color: var(--primary-color);
}

.orderButton {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.orderButton:hover {
    background-color: #7e58ee;
}

.infoContainer {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: calc(50% - 20px);
    position: relative;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rating i {
    color: var(--primary-color);
    margin-right: 5px;
}

.itemsInfo {
    display: flex;
    align-items: center;
    position: relative;
}

.itemsInfo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 20px;
    position: absolute;
    top: -80%;
    transform: translateY(-50%);
    left: 110px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dealName {
    color: var(--primary-color);
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }

    .infoContainer {
        width: 100%;
    }

    .heroText {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: #333;
        font-weight: bold;
    }

    h1 {
        font-size: 1rem;
    }

    .heroParagraph {
        font-size: 0.8rem;
        margin-bottom: 1rem;
        color: #555;
    }

    .itemsInfo img {
        width: 80px;
        height: 80px;
        object-fit: contain;
        border-radius: 50%;
        margin-right: 20px;
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        left: 70%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.foodImage {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.slideshowControls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.slideshowControls i {
    font-size: 24px;
    cursor: pointer;
    color: var(--primary-color);
    margin-right: 10px;
}

.leftIcon {
    margin-right: 80px;
}

.rightIcon {
    margin-left: 80px;
}