nav {
  background-color: transparent;
  height: 10vh;
  width: web-fill-available;
  width: -moz-available;
  position: fixed;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}


.logo {
  height: fit-content;
  width: 10em;
}
nav span {
  cursor: pointer;
}
.buttonsContent {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

button {
  border: 0;
  padding: 10px 15px;
  border-radius: 0.5em;
  cursor: pointer;
}



.accountButton {
  background-color: #6344c3;
  color: white;
}

.dropdown {
  background-color: #ffffff;
  border-radius: 10px;
  position: fixed;
  box-shadow: aliceblue;
  margin-top: 20px;
  opacity: 0;
  transition: .2s;
  display: flex;
  flex-direction: column;
  right: 28%;
  width: 35em;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  padding: 2em 3em;
}

.cow {
  justify-content: space-between;
  display: flex;
  margin-bottom: 2em;
}

.surpresas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.surpresas span{
  padding: 1em
}
.titleDropdown {
  margin-bottom: .5em;
  font-size: 1.3em;
  font-weight: 600;
}

.categoriasContent {
  display: flex;
  gap: .7em;
  flex-direction: column;

}
.dropdown a:hover {
  cursor: pointer;
  
}
.option svg {
  opacity: 0;
}
.option:hover a + svg {
  opacity: 1;
  transition: .1s;
}
.option {
  display: flex;
  align-items: center;
  gap: .5em
}

.dropdown:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #fff;
  left: 50%;
  top: 1%;
  transform: translatey(-50%) rotate(45deg);
  border-radius: 3px;
}

.categorias {
  display: flex;
  flex-direction: column;
}

nav .desc {
  padding: 33%;

}